.add-quiz-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .quiz-form {
    width: 100%;
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .quiz-name-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 15px;
  }
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .pagination-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #02a09d;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 400px;
  }
  
  .create-quiz-button,
  .close-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .create-quiz-button {
    background-color: #035f9b;
    color: white;
  }
  
  .close-button {
    background-color: #df5c0f;
    color: white;
  }
  
  .create-quiz-button:hover,
  .close-button:hover {
    opacity: 0.9;
  }
  
  .question-pagination {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  